@import "../../styles/partials/mixins";

.customerList {
  margin-top: 5rem;
  @include display-flex(column, center, center);

  &__header {
    width: 80%;
    background-color: #136acd;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid black;
  }
  &__titles {
    width: 75%;
    @include display-flex(row, flex-start, center);
  }
  &__title {
    width: 25%;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    @include display-flex(row, flex-start, center);
  }

  &__list {
    width: 80%;
    @include display-flex(column, space-around, center);
  }
  &__item {
    width: 100%;
    padding: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-bottom: 1px solid black;
    &:hover {
      background-color: lightgray;
    }
  }
}
