@import '../../styles/partials/mixins';

.customerCard {
  width: 100%;
  @include display-flex(row,space-between,center);

  &__left {
    width: 75%;
    @include display-flex(row,flex-start,center);
  }
  &__right {
    width: 25%;
    @include display-flex(row,flex-end,center);

  }

  &__info {
    width: 25%;
    @include display-flex(row,flex-start,center);
    font-family: Arial, Helvetica, sans-serif;

    // &--id {
    //   width: 15%;
    // }
    // &--name {
    //   width: 30%;
    // }
    // &--city {
    //   width: 15%;

    // }
    // &--email {
    //   width: 30%;
    // }

  }
  &__editLink {
    cursor: pointer;
    width: 20%;
  }
  &__pen {

  }
}